# Node modules
node_modules/

# JetBrains IDEs
.idea*

# Build output
dist/
build/

# Coverage directory used by testing tools
coverage/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# MacOS system files
.DS_Store

# Husky hooks
.husky/_/